#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container-cont-anecdote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container-btn{
  display: flex;
  gap: 15px;
}
.btn-next{
  width: 140px;
  border-color: coral;
}
.btn-vote{
  border-color: cadetblue;
}