#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-btns{
  padding-top: 2rem;
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}
.container-stadistics{
  padding-top: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.good{
  border-color: green;
}

.neutral{
  border-color: azure;
}

.bad{
  border-color: red;
}

.good:hover{
  border-color: greenyellow;
}
.neutral:hover{
  border-color: rgb(198, 187, 226);
}
.bad:hover{
  border-color:rgb(220, 157, 20);
}